@model List<WebApplicationTrackToys.Models.Cars>

<h1>Liste des voitures</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Catégorie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.id</td>
                <td>@car.NameCar</td>
                <td>@car.CategoryCar</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="AddCar">Ajouter une nouvelle voiture</a>