@{
    ViewBag.Title = "Ajouter une voiture";
}

<h1>Ajouter une nouvelle voiture</h1>

<form asp-action="AddCar" method="post">
    <div>
        <label for="nameCar">Nom de la voiture :</label>
        <input type="text" id="nameCar" name="nameCar" required />
    </div>
    <div>
        <label for="categoryCar">Catégorie de la voiture :</label>
        <input type="number" id="categoryCar" name="categoryCar" required />
    </div>
    <button type="submit">Ajouter</button>
</form>

<a asp-action="AllCars">Voir toutes les voitures</a>